{% extends "mainapp/base.html" %}


{% block titletag %}この twitterbot について - JEF allstar bot{% endblock titletag %}

{% block maincontent %}
				<header>
					<h1>この twitterbot について</h1>
					<p>この twitterbot 自体に関することです。</p>
				</header>
				<section>
					<h2>登録選手データについて</h2>
					<p>以下のものを参考にしています。</p>
					<ul>
					<li>ああああ</li>
					<li>いいいい</li>
					</ul>
					<p>また、皆様あkらの協力を…</p>
				</section>

				<section>
					<h2>使用している技術について</h2>
					<p>この twitterbot は、以下の技術を使って動いてます。</p>
					<ul>
					<li>Google App Engine</li>
					<li>Django</li>
					<li>レスポンシブ・ウェブデザイン（Initializr）</li>
					</ul>
				</section>

{% endblock maincontent %}

{% block sidebar %}
{% endblock sidebar %}

