{% extends "mainapp/base.html" %}

{# 登録選手についてのページのテンプレート #}

{% block titletag %}登録選手情報について - JEF allstar bot{% endblock titletag %}

{% block otherhead %}

    <script src="/zingchart/html5_scripts/zingchart-html5-min.js"></script>
    
    <script type="text/javascript">
        $(function() {
        	//
        	//ウィンドウが読み込み終わったらやること
        	//

			//選手セレクタを選んだときの処理
			$('#selectplayer').change(function (e) {

				//選手データをajaxで取得する
				$.ajax({
					type: 'post',
					url: '/getajax',
					cache: false,
					data: {
						'key' : $(this).val() //選んだ項目のvalue
					},
					success: function(data,dataType) {
						//dataにはJSONオブジェクトが帰ってくる
						redraw_playerdata( data );
					},
					error: function(XMLHttpRequest, textStatus,errorThrown) {
						this;
						alert(errorThrown);
					}
				});
				//redraw_zingchart //明示的な再描画指定は必要ない
			});

			//CSRF対策のためのルーチン：			
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
            		if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                		// Only send the token to relative URLs i.e. locally.
		                xhr.setRequestHeader("X-CSRFToken",getCookie('jefallstarbot-csrftoken'));
            		}
        		}
    		});
			
			//選手グラフを描く
			zingchart.render({
				id : 'zingchart',
				output : 'canvas', // or use 'flash' or 'svg', Internet Explorer versions 6,7 and 8 will render using VML
				width : 400,
				height : 400,
				dataurl : '/zingchart/playdataformat.txt',
//				dataurl : '/zingchart/graphfile.txt',
				liburl : '/zingchart/flash_scripts/zingchart.swf' // in case Flash Library is used
			});


			
        });

		function redraw_playerdata( data ) {
//			alert("reload");
		    zingchart.exec('zingchart','setdata','{"data": ' + $.stringify(data) + '}');
		}        

//
//JSONデータを文字列に変換するルーチン
//
jQuery.extend({
    stringify : function stringify(obj) {
        var t = typeof (obj);
        if (t != "object" || obj === null) {
            // simple data type
            if (t == "string") obj = '"' + obj + '"';
            return String(obj);
        } else {
            // recurse array or object
            var n, v, json = [], arr = (obj && obj.constructor == Array);
 
            for (n in obj) {
                v = obj[n];
                t = typeof(v);
                if (obj.hasOwnProperty(n)) {
                    if (t == "string") v = '"' + v + '"'; else if (t == "object" && v !== null) v = jQuery.stringify(v);
                    json.push((arr ? "" : '"' + n + '":') + String(v));
                }
            }
            return (arr ? "[" : "{") + String(json) + (arr ? "]" : "}");
        }
    }
});

//
//Cookieを取得するルーチン
//

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    
    
    </script>

{% endblock otherhead %}

{% block maincontent %}

				<header>
					<h1>登録選手について</h1>
					<p>このページでは、登録されている選手の一覧を表示します。</p>
				</header>
				<section>
					<h2>登録選手一覧</h2>

{% if playerdata %}

	<p>登録選手数：{{ playercount }}名</p>
    <table>
        <tr><th>選手名</th><th>登録日付</th><th>登録プレー数</th><th></th></tr>
    {% for player in playerdata %}
        <tr><td>{{ player.get_fullname }}</td><td>{{ player.get_create_time|date:"Y年n月j日" }}</td><td>{{ player.get_playcount }}</td><td></td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>※選手データが取得できませんでした…</p>
{% endif %}

				</section>
				
				<section>
				<h2>登録データ</h2>
				<p>プレーの種類</p>

				<p>プレー位置の図示：全選手と個別選手ごとに選べる</p>
				<label for="selectplayer">選手を選択してください。</label><br />
				<select id="selectplayer" name="selectplayer">
				<option value="all" label="全選手" selected></option>
{% if playerdata %}
    {% for player in playerdata %}
    {# todo ここのキーそのままをハッシュかなにかにしておく #}
    <option value="{{ player.get_key_by_string }}" label="{{ player.get_fullname }}"></option>
    {% endfor %}
{% endif %}
				</select>
				<div id="selectedplayer"></div>


				</section>
				
				<section>
				<div id="zingchart"></div>
				</section>
{% endblock maincontent %}

