{% extends "mainapp/base.html" %}


{% block titletag %}この twitterbot について - JEF allstar bot{% endblock titletag %}

{% block maincontent %}
				<header>
					<h1>この twitterbot について</h1>
					<p>この twitterbot 自体に関することです。</p>
				</header>
				<section>
					<h2>登録選手データについて</h2>
					<p>以下のものを参考にしています。</p>
					<ul>
					<li>ああああ</li>
					<li>いいいい</li>
					</ul>
					<p>また、皆様あkらの協力を…</p>
				</section>

				<section>
					<h2>使用している技術について</h2>
					<p>この twitterbot は、以下の技術を使って動いてます。</p>
					<ul>
<li>インフラ技術：<a href="https://developers.google.com/appengine/?hl=ja" target="_blank">Google App Engine</a></li>
<li>開発言語：python 2.7</li>
<li>ウェブフレームワーク：<a href="https://www.djangoproject.com/" target="_blank">Django 1.2</a></li>
<li>ページ制作：HTML5+CSS3</li>
<li>レスポンシブルデザインのフレームワーク：<a href="http://www.initializr.com/" target="_blank">Initializr</a></li>
<li>グラフ描写：<a href="http://www.zingchart.com/" target="_blank">ZingChart</a></li>
<li>開発支援：<a href="https://github.com/" target="_blank">GitHub</a></li>
					</ul>
				</section>

				<section>
					<h2>リリースノート</h2>
					<ul>
					<li>2012/8/30 v0.01 公開</li>
					</ul>
				</section>

{% endblock maincontent %}


